body {
	font-family: Space Mono,sans-serif;
}

.wrapper {
	display: flex;
}

.stats {
	width: 900px;
	margin-bottom: 3px;
	text-align: center;
}

.game {    
	width: 900px;
    height: 900px;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(./../img/background.png);
    background-position: center;

    display: flex;
    justify-content: space-between;
}

.user {
	border: 1px solid #000;
	margin-bottom: 5px;
	text-align: center;
}

.user img {
	width: 50px;
	height: 50px;
	transform: rotateY(180deg);
}

.user .title {
	border-top: 1px solid #000;
}

.dapp {
	border: 1px solid #000;
	margin-bottom: 5px;
	text-align: center;
}

.dapp img {
	width: 50px;
	height: 50px;
	transform: rotateY(180deg);
}

.dapp .title {
	border-top: 1px solid #000;
}

.data-row {
	display: flex;
	margin-bottom: 5px;
}

.data-cell {
	width: 78px;
	height: 83px;
}

.data-pack {
	border: 1px solid #000;
	width: 78px;
	height: 81px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.data-pack .information {
	border: 1px solid #000;
	height: 24px;
	width: 70px;
	margin: auto;
}

.data-pack .destination {
	border: 1px solid #000;
	height: 24px;
	width: 70px;
	margin: auto;

	font-size: 14px;
}

.subquery {
	background: #FFF;
	border: 1px solid #000;
	width: 78px;
	height: 81px;
	text-align: center;
}

.subquery img {
	margin-top: 8px;
	width: 40px;
	height: 40px;
}

.subquery .data {
	height: 24px;
	width: 100%;
}

.subquery .data .item.package {
	background: #3fd83f;
}

.subquery .data .item {
	border: 1px solid #000;
	height: 15px;
	width: 15px;
	display: inline-block;
}

.info {
	padding-left: 40px;
}
